@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #06081a;
    padding: 0 30px; 

}
.fa-solid.fa-heart {
    font-size: 30px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #9d6fc1;
}

.list {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    list-style: none;
    font-size: 14px;
}

/*--------Menu-------*/
#check {
    display: none;
}

.checkbtn {
    font-size: 25px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/*Main*/

.seccion-1 {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    background-color: #06081a;
    margin: 0;
    padding: 30px 50px 70px;
    flex-wrap: wrap;
}

.acerca-de {
    min-width: 100px;
    max-width: 500px;
}

.acerca-imagen img{
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.acerca-de-mi {
    color: white;
}

.text-acerca {
    color: #d1d5db;
}

.sec2-imagen {
    height: 500px;
    width: 100%;
    object-fit: cover;
    background-color: #06081a;
}

/*Sección 3*/
.seccion-3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 80px 20px 20px ;
    background-color: #06081a;
}

.proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    padding-bottom: 35px;
}

.img-proyecto {
    height: 250px;
    border-radius: 15px;
    width: 100%;
    max-width: 550px;
    object-fit: cover;
}

.text-proyecto {
    display: flex;
    color: #d1d5db;
    max-width: 100%;
}

/*Footer*/
h3 {
    color: #9d6fc1;
}

a i.fa-solid.fa-heart.fixed {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #9d6fc1;
}

.link-redes {
    color: black;
}

/* ------------- Encabezado Contacto ------------- */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
    background-color: #06081a ;
}

.form-header {
    text-align: center;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;

    width: 80%;
    margin: 10px auto;
    padding: 50px;
}

.form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* ------------- Formulario ------------- */

.formulario {
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;

    width: 80%;
    padding: 50px;
    margin: 30px 0 40px 0;
}

/* ------------- Campos del Formulario ------------- */

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type="text"],
.form-row input[type="email"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-row label {
    margin-bottom: 3px;
    text-align: initial;
}

.form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;

    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;

    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;

}

.form-row button {
    font-size: 16px;
    font-weight: bold;

    color: #ffffff;
    background-color: #5995da;

    border: none;
    border-radius: 3px;

    padding: 10px 40px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #76aeed;
}

.form-row button:active {
    background-color: #407fc7;
}

/* ------------- Para pantallas que sean pequeñas hasta 768px ------------- */
/*Agregar la media query para el icono */
@media only screen and (max-width: 768px) {
    .checkbtn {
        display: block;
    }

    #encabezado ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #06081a;
        opacity: 0.9;

        top: 80px;
        left: 100%;
        transition: all 0.5s;
    }

    #check:checked ~ ul {
        left: 0;
        display: block;
    }

    #encabezado nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    #encabezado nav ul li a {
        font-size: 20px;
    }

    .form-header {
        padding: 50px;
    }

    .form-row {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .form-row input {
        width: 250px;
        height: initial;
    }

    .form-row label {
        text-align: right;
        /* width: 120px; */
        margin-top: 7px;
        padding-right: 20px;
    }

    .form-row textarea {
        width: 250px;
    }

    .form-row button {
        width: 250px;
    }   
}

